body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

main {
  margin-top: 20px;
}
